*.o
omx-clap-host
tests/clap_host_test
tests/clap_scan_test
tests/crash.clap
omx-clap-scan
tests/fake.clap
tests/jack_latency_probe
tests/jack_identity
tests/fake_synth.clap
tests/jack_synth_probe
*.d
/libomx-clap-core.so*
/omx-clap-core.pc
/build/
tests/core_link_test
